html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.white-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.gray-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.small-section {
    height: 50%;
    padding-top: 80px;
    text-align: center;
    color: #fff;
    background: #2D2D2D;
}
